// Navigation code here
nav{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;  
    a{
        text-decoration: none; 
        color: black; 
        font-size: 1.4rem;
        padding: 1.5rem;  
    }
}